.all
{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    width:1200px;
    padding:0;
}
.left_pic
{
    padding:0;
    border:1px solid #aeaeae;
    height:500px;

}
.right_dis
{
    border:1px solid #aeaeae;
    border-left:0;
    background-color:#efefef;
    height:500px;
    padding:50px;
    padding-top:80px;
    font-size:18px;
}
.right_row
{
    margin-top:10px;
}

.link_to
{
    margin-top:70px;
}

.critics
{
    width:1200px;
    padding:0;
}
.critic_single
{
    padding-left:50px;
    padding-right:50px;
    margin-top:0;
    color: #737373;
    border-top:1px solid #dddddd;
}
.panel-heading
{
    padding-left:50px;
}
.panel-title
{
    color: #6f6f6f;
    font-size:20px;
}
.panel-title>a:hover
{
    text-decoration:none;
}
.panel-title>a:focus
{
    text-decoration:none;
}
