<div class="ui card">
  <div class="image">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="content">
    <a class="header"><%= @user.username %></a>
    <div class="meta">
      <span class="date">创建日期:<%= @user.created_at.localtime.to_s(:db) %></span>
    </div>
    <div class="description">邮箱:<%= @user.email %></div>
  </div>
</div>