#Check_out
{
    width:100%;
    background:#f8f8f8;
    border-top:1px solid #dcddde;
    padding-left:0;
    padding-right:0;
    padding-bottom:28px;
}

#Check_title
{
    margin-top:30px;
    width:1200px;
    padding-left:0;
    padding-right:0;
}

#Check_out_content
{
    padding-top:50px;
    width:700px;
    padding-bottom: 30px;
}

#Check_out_content .col-md-2
{
    text-align:right;
    padding-right:15px;
}

.inp
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#Check_btn
{
    background: #3a3a3a;
    color: #ffffff;
    text-align:center;
    margin-left:4px;
    padding:0 0 0 0;
}
#Check_btn:hover
{
    background: #9cd1d1;
}
#Check_btn >input
{
    width:100%;
    padding:10px 2px 10px 2px;
    font-size:21px;
    border:0;
    background: none;
}