
#one
{
    padding-top:20px;
    padding-left:0px;
    padding-right:0px;
    width:1200px;
}

#title_up
{
    margin-left: 0px;
    margin-right: 0px;
    background: rgba(0, 118, 209, 0);
}

#title_up .Edit_title_up
{
    font-size:16px;
    color:#080808;
}
#title_up .Edit_title_up >a
{
    font-size:16px;
    color:#080808;
}

#title_up .Edit_title_up_right
{
    font-size:16px;
    color:#080808;
    text-align:right;
}
#title_up .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 4px;
}
#title_row
{
    padding-top:10px;
    font: 18px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
#title_pic >a
{
    background-image:url(../images/logo.png);
}
#title_col .nav>li>a {
    color:#080808;
    position: relative;
    display: block;
    padding: 5px 15px;
}
#title_col .nav-tabs {
    border-bottom: 0px solid #ddd;
}

#title_row .col-md-3,.col-md-7
{
    padding-right: 25px;
    padding-left: 7.5px;
}

#title_row .col-md-9
{
    padding-right: 30px;
    padding-left: 15px;
}
#title_col h4
{
    color:#000000;
}

#See_us
{
    font: 12px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

#See_us .btn
{
    display: inline-block;
    padding: 0px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;  /*     'transparent'可以用来隐藏solid*/
    border-radius: 4px;
    pointer-events: none;
    /*下面是让按钮标记不存在，停止使用按钮效果*/
    cursor: not-allowed;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 100;
}

#See_us h4
{
    color:#000000;
}
#See_us .col-md-8
{
    padding-left:20px;
}
#See_us .col-md-4
{
    padding-left:18px;
}





/*页尾部分*/
#web_tail
{
    background: #080808;
    width:100%;
    height:300px;
}
#web_tail_content
{
    width:1200px;
    padding-left:0px;
    padding-right:0px;
}
#web_tail .row
{
    /*margin-top: 20px;*/
    /*border-top:3px solid rgba(211, 211, 211, 0.43);*/
    margin-left:0;
    margin-right:0;
    border-bottom:1px inset rgba(176, 176, 176, 0.81);
}
#tail_1, #tail_2, #tail_3 , #tail_4
{
    padding-left:0;
    padding-right:0;
    border-left: 0px inset rgba(176, 176, 176, 0.27);
    text-align:left;
    height:230px;
}
#tail_1
{
    border-left: 0px solid rgba(211, 211, 211, 0.28);
}
#web_tail .row .col-md-3>h4
{
    padding-left:40px;
    padding-top:20px;
    font: 18px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #aeaeae;
    padding-bottom: 15px;
}
#web_tail .row .col-md-3>h5
{
    padding-left:40px;
    font: 15px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #aeaeae;
    padding-bottom: 20px;
    width:250px;
}

#web_tail .row .col-md-3>h5 >img
{
    width:55px;
    height:55px;
}

#web_tail_content >h5
{
    padding-top:12px;
    padding-left:40px;
    font: 15px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #9c9c9c;
    padding-bottom: 20px;
}