/*总container*/
#one
{
    padding-top:20px;
    padding-left:0;
    padding-right:0;
    width:1200px;
    margin-bottom:20px;
}

/*页头*/
#title_col, #title_col .col-md-2 ,#title_col .col-md-9, #title_col .col-md-3
{
    padding:0;
}

#title_col
{
    margin-left:30px;
}
/*页头logo*/
#title_pic
{
    margin-top:3px;
}
#title_pic >a
{

    background-image:url(../images/logo.png);
}

/*页头的标题*/
.title_unit
{
    margin-right:20px;
}
.title_unit_pic
{
    width:25px;
    height:25px;
}
.title_unit_pic >img
{
    width:100%;
}
.title_unit_content
{
    margin-top:5px;
    text-align:center;
    line-height:1.2;
}
.title_unit_content .title
{
    color: #707070;
    font-size:16px;
}
.title_unit_content .title:hover
{
    cursor:pointer;
    color: #4aa8ae;
    font-weight:bold;
    text-decoration: none;
}
.title_unit_content .second_title
{
    font-size:10px;
    color:#aeaeae;
}

 .Edit_title_up
{
    font-size:16px;
    color:#080808;
}
 .Edit_title_up >a
{
    font-size:16px;
    color:#080808;
}

.Edit_title_up_right
{
    font-size:16px;
    color:#080808;
    text-align:right;
}


#title_row
{
    padding-top:10px;
    font: 16px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

#title_row .col-md-5, .col-md-7, .col-md-3, .col-md-9
{
    padding:0;
}

#title_col h4
{
    color:#000000;
}






/*页尾部分*/
#web_tail
{
    background: #080808;
    width:100%;
    height:300px;
}
#web_tail_content
{
    width:1200px;
    padding-left:0px;
    padding-right:0px;
}
#web_tail .row
{
    /*margin-top: 20px;*/
    /*border-top:3px solid rgba(211, 211, 211, 0.43);*/
    margin-left:0;
    margin-right:0;
    border-bottom:1px inset rgba(176, 176, 176, 0.81);
}
#tail_1, #tail_2, #tail_3 , #tail_4
{
    padding-left:0;
    padding-right:0;
    border-left: 0px inset rgba(176, 176, 176, 0.27);
    text-align:left;
    height:230px;
}
#tail_1
{
    border-left: 0px solid rgba(211, 211, 211, 0.28);
}
#web_tail .row .col-md-3>h4
{
    padding-left:40px;
    padding-top:20px;
    font: 18px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #aeaeae;
    padding-bottom: 15px;
}
#web_tail .row .col-md-3>h5
{
    padding-left:40px;
    font: 15px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #aeaeae;
    padding-bottom: 20px;
    width:250px;
}

#web_tail .row .col-md-3>h5 >img
{
    width:55px;
    height:55px;
}

#web_tail_content >h5
{
    padding-top:12px;
    padding-left:40px;
    font: 15px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    color: #9c9c9c;
    padding-bottom: 20px;
}