
#Product_detail
{
    margin-top:10px;
    border-top:1px solid #080808;
    padding-top:10px;
    width:1000px;
    padding-left:0;
    padding-right:0;
    margin-bottom:20px;
}
.breadcrumb > li + li:before {
    color: #444444;
    content: ">";
    padding: 0 5px;
}
.breadcrumb
{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    padding-left:0;
    padding-right:0;
    background-color: #ffffff;
}
.breadcrumb>li>a ,.breadcrumb>.active
{
    color: #484848;
}

#Product_detail_out
{
    width:1000px;
    padding:0;
    display:inline;
    border-bottom:1px solid #505050;
}
#Product_detail_car
{
    margin-left:0;
    margin-right:20px;
    width:450px;
    padding-left:0;
    padding-right:0;
    text-align:left;
}

#Product_detail_mycar
{
    width:100%;
}

#Product_detail_mycar:hover .carousel-control.left span,#Product_detail_mycar:hover .carousel-control.right span
{
    display:inline;
    position:absolute;
}


.carousel-control.left span, .carousel-control.right span
{
    display:none;
}

.carousel-indicators
{
    bottom:0px;
    width:100%;
    left:0%;
    margin-left:0;
}



.carousel-indicators >a .active {
    width: 110px;
    height: 100px;
    margin: 0;
    background-color: #fff;
    opacity:1;
}

.carousel-indicators .indicator_img
{
    padding:0;
    margin-left:0;
    display:inline;
    cursor:pointer;
    opacity:0.5;
    height:100px;
}

.carousel-indicators .indicator_img:hover
{
    opacity:1;
}
.carousel-indicators
{
    z-index:0;
    bottom:0;
    width:440px;
    left:0;
    margin:0;
    position: static;
    padding: 0;
    list-style: none;
    font-size:0;
}


.carousel-control.left, .carousel-control.right
{
    width:10%;
    height:450px;
    background-image:
    linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}


#Product_detail_content
{
    width:530px;
    padding-left:20px;
    text-align:left;
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
#Product_detail_content_title
{
    margin-left:0;
    font-size:18px;
    font-weight:bolder;
    color:#31b0d5;
    margin-bottom:10px;
}
#Product_detail_content_discription
{
    margin-bottom:10px;
}

.row_title
{
    font-size:16px;
    font-weight:600;
    margin-top:auto;
    margin-bottom:auto;
    padding:0;
}

#Product_detail_content_price
{
    padding-left:0;
    padding-right:0;
    margin-bottom:10px;
}

#Product_detail_content_price .row_title
{
    margin-top:5px;
}
#Product_detail_content_price .price
{
    font-size:20px;
    font-weight:bold;
}

#Product_detail_content .row
{
    margin-left:0;
    margin-right:0;
}

#Product_detail_content_material, #Product_detail_content_size
{
    margin-bottom:10px;
}
/*材质描述层*/
#Product_detail_content_material .col-md-10, #Product_detail_content_size .col-md-10
{
    font-size:0;
    margin-bottom:5px;
}
.mat_row_2
{
    margin-top:45px;
}
.mat
{
    text-align:center;
    vertical-align:middle;
    position:relative;
    display:inline-block;
    border:1px solid #9e9e9e;
    padding:1px;
    margin-right:5px;
    text-decoration:none;
}

.mat:hover
{
    cursor:pointer;
    border:2px solid #31b0d5;
    margin-right:5px;
    margin-bottom:0;
    padding:0;
    text-decoration:none;
}


.mat
{
    width:55px;
    height:55px;

}

#Product_detail_content_material .selected
{
    padding:0;
    border:2px solid #31b0d5;
}
/*添加对于尺寸的文字样式*/

.siz_row_2
{
    margin-top:21px;
}
.siz
{
    display:inline-block;
    border:1px solid #9e9e9e;
    margin-right:5px;
    text-decoration:none;
    font-size:14px;
    width:55px;
    height:30px;
    text-align:center;
    vertical-align: middle;
    padding-top:4px;
}
.siz:hover
{
    cursor:pointer;
    border:2px solid #31b0d5;
    margin-right:5px;
    margin-bottom:0;
    text-decoration:none;
    padding-top:2.5px;
}

#Product_detail_content_size .selected
{
    padding:2.5px;
    border:2px solid #31b0d5;
}
a:focus
{
    text-decoration:none;
}

a:hover
{
    color:#080808;
    text-decoration:none;
}






#Product_detail_content_make, #Product_detail_content_quantity
{
    margin-bottom:11px;
}
#Product_detail_content_make .col-md-10
{
    padding-left:4px;
}


/*商品数量*/
#Product_detail_content_quantity .row_title
{
    margin-top:6px;
}
#Product_detail_content_quantity .btn-group
 {
     padding-left:2px;
 }
#number_slider
{
    text-align:center;
    width:70px;
}

.minus, .add
{
    width:35px;
}




#Product_detail_content_buy
{
    position:relative;
}

#Product_detail_content_buy_before
{
    position:absolute;
}
#Product_detail_content_buy_before >img
{
    border:1px solid #9e9e9e;
}

#Product_detail_content_buy_before :hover
{
    opacity:0;
    cursor:pointer;
    /*background-image: url(/Image/Buy_Button_Hover.jpg);*/
}

#Product_detail_content_buy_after
{
    position:absolute;
}

/*轮播导航和设计师说明*/
#Product_detail_before_pic
{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    width:1000px;
    padding:0;
    vertical-align:middle;
}

#Product_detail_before_pic .pic_left
{
    margin-top:4px;
    padding:0 5px;
    width:450px;
    margin-right:20px;
}

#Product_detail_before_pic .pic_middle
{
    margin-top:10px;
    margin-left:15px;
    vertical-align:middle;
    width:120px;
}
#Product_detail_before_pic .pic_right
{
    width:370px;
    color: #eaeaea;
    margin-top:2px;
    line-height:1.5;
}


#Product_detail_before_pic .first_page
{

}

#Product_detail_before_pic .pic_before
{
    position:absolute;
    width:1000px;
    z-index:15;
    padding:0;
}

.page_pic
{
    margin-bottom:5px;
}

#Product_detail_before_pic .pic_after
{
    margin-bottom:10px;
}



#Product_detail_tabs
{
    margin-bottom:20px;
}
#myTabs .col-md-6
{
    padding:0;
}

#Designer_other_works >img, #Rec_match >img
{
    width:245px;
    /*border-left:1px solid #dddddd;*/
}
#Designer_other_works, #Rec_match
{
    margin-top:20px;
    /*margin-right:-1px;*/
    font-size:24px;
    /*border-bottom:1px solid #dddddd;*/
    /*border-top:1px solid #dddddd;*/
    /*border-right:1px solid #dddddd;*/
}

#myTabs >li>a
{
    font-size:20px;
    margin:0;
    background-color:#eee;
    color:#505050;
}

#myTabs >li>a:hover
{
    color:#31b0d5;
}

#myTabs>li.active>a
{
    background-color:#fff;
}

#myTabs>li.active>a:hover
{
    cursor:pointer;
}