#mycar_container
{
    width:100%;
    padding-left:0;
    padding-right:0;
}
#mycar
{
    width:100%;
    margin-top:10px;
}

#mycar:hover .carousel-control.left span
{
    display:inline;
    position:absolute;
}
#mycar:hover .carousel-control.right span
{
    display:inline;
    position:absolute;
}

.carousel-control.left span
{
    display:none;
}
.carousel-control.right span
{
    display:none;
}
.carousel-indicators
{
    text-align:right;
    bottom:0px;
    width:95%;
    left:0%;
    margin-left:0;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(232, 232, 232, 0.63);
    border: 0px solid #d3d3d3;
    border-radius: 10px;
}

.carousel-indicators .active{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background-color: #fff;
}

.carousel-control.left
{
    width:10%;
    background-image:
    linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.right
{
    width:10%;
    background-image:
    linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);

}





#Recommend
{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    text-align:center;
    padding-bottom:15px;

}




/*��ƾ�ѡ   ����*/

/*ҳͷ����*/
#Recommend >h1
{
    letter-spacing:10px;
}
#Recommend >h4
{
    color: #8a8a8a;
}


/*��Ʒ�б�*/
#Product
{
    padding-left:0;
    padding-right:0;
    width:1210px;

}

.border_line
{
    width:1200px;
    height:25px;
    border-bottom:1px solid #aeaeae ;
}

.P_1
{
    margin-top:5px;
    background: rgba(255, 255, 255, 0);
    padding: 0 5px 0  5px;
    overflow:hidden;
    margin-bottom:5px;
}

#each_product
{
    width:100%;
    height:100%;
    float:left;
    text-align:left;
    position:relative;
}

#each_product:hover
{
    text-decoration:none;
    /*cursor:pointer;*/
}

#each_product >a >img
{
    width:100%;
}
.P_icon h4
{
    margin-top: 200px;
    margin-left:10px;
    color: #6ccbe3;

}
.P_icon h5
{
    margin-top: 3px;
    color: #6ccbe3;
    margin-left:10px;
    margin-bottom:0;
    line-height:1;
}
.P_icon
{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    color: #6ccbe3;
    opacity: 0;
}

.P_icon:hover
{
    opacity:0.9;
    transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;
}





/*�Ƽ���Ʋ���*/
#Rec_product
{
    background:#eef3f7;
    font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

#Rec_product >a
{
    color:#080808;
}
#Rec_product .col-md-8
{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-left:15px;
    padding-right:0;
    text-align:left;
}
#Rec_product .col-md-8 >a, .col-md-4 >a
{
    color: #2d2d2d;
}

#Rec_product .col-md-4
{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-left:0;
    padding-right:15px;
    text-align:right;
}
/*�Ƽ���Ʒ���������ʦ*/
#Rec_product_Designer_Left
{
    padding-top:10px;
    padding-bottom:10px;
}
#Rec_product_Designer_Right
{
    padding-top:20px;
    height:97px;
}




#odds_all
{
    width:1200px;
    padding:0;
    padding-bottom:30px;
    border-bottom:1px solid #aeaeae;

}
/*�Ƽ����ʦ����*/
/*��Ϊ����������*/
#rec_designer
{
    margin-top: 30px;
    padding-top:20px;
    padding-bottom:30px;
    padding-left:0;
    padding-right:0;
    width:100%;
    background: #e2e2e2;
}
/*��Ϊ��ͼƬ������*/
#rec_designer_all
{
    margin-top:20px;
    background: #ffffff;
    width:1200px;
    padding-left:0;
    padding-right:0;
    /*height:60px;*/
}
/*դ�񻯣������   �ҾŸ�*/
/*�����ʦ������*/
#rec_designer_all .row
{
    width:1200px;
    margin-left: 0;
    margin-right: 0;
}
#rec_designer_describe
{
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    padding-top:20px;
}
#rec_designer_describe >h3
{
    font-size:20px;
}

#rec_designer_all .col-md-3
{
    padding-left:60px;
    padding-right:0;
}
#rec_designer_all .col-md-9
{
    padding-left:0;
    padding-right:100px;
}


/*��Ʒ����*/

#rec_designer_product
{
    margin-top:10px;
    width:1210px;
    margin-left:auto;
    margin-right:auto;
}

#rec_designer_product .col-md-3
{
    padding-left: 5px;
    padding-right: 5px;
}


.P_2
{
    background:#e2e2e2;
    padding: 0px 5px 0  5px;
    position:relative;
    overflow:hidden;
}
.P_2 >a
{
    width:100%;
    height:100%;
    float:left;
    text-align:left;
    position:relative;
}


#workshop_container
{
    padding-bottom:20px;
    z-index:-10;
}
#workshop_title
{
    padding-top:20px;
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    text-align:center;
}

/*��ƾ�ѡ   ����*/

/*ҳͷ����*/
#workshop_title >h1
{
    letter-spacing:10px;
}
#workshop_title >h4
{
    color: #8a8a8a;
}

#workshop_container
{
    width:1200px;
    padding-left:0;
    padding-right:0;
}

#workshop_container >img
{
    width:1200px;
    position:absolute;
    z-index: -1000;
}

#workshop_container .btn_out
{
    text-align:center;
    margin-top:200px;
    margin-bottom:130px;
    z-index: 1500;
}
/*#workshop_mycar*/
/*{*/
    /*width:100%;*/
    /*margin-top:10px;*/
/*}*/

/*#workshop_mycar:hover .carousel-control.left span*/
/*{*/
    /*display:inline;*/
    /*position:absolute;*/
/*}*/
/*#workshop_mycar:hover .carousel-control.right span*/
/*{*/
    /*display:inline;*/
    /*position:absolute;*/
/*}*/


#service
{
    width:1200px;
    padding:0;
    border-bottom:1px solid #dddddd;
    padding-bottom:25px;
}
#service_title
{
    padding-top:20px;
    font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    text-align:center;
    border-bottom:1px solid #dddddd;
}
#service_title >h1
{
    letter-spacing:10px;
}
#service_title >h4
{
    color: #8a8a8a;
}

#service >img
{
    width:1200px;
    position:absolute;
    z-index:-10;
}
#service .btn_out
{
    text-align:center;
    margin-top:200px;
    margin-bottom:230px;
    z-index: 1500;
}

.title_button
{
    color: #dddddd;
    background-color:#080808;
    width:180px;
    font: 15px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #777777;
}

.title_button:hover
{
    background-color: #fcfcfc;
    color:#31b0d5;
}
.title_button >a
{
    font-size:36px;
    color: #dddddd;
    width:100%;
    padding-left:19px;
    padding-right:19px;
    padding-top:8px;
    padding-bottom:8px;
}
.title_button >a:hover, .title_button >a:focus
{
    text-decoration: none;
    color:#31b0d5;
}